<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.CommentMapper">


    <select id="getRootComments" resultType="com.tencent.wxcloudrun.model.Comment" >
        SELECT *
        FROM Comments
        WHERE punchCardId = #{punchCardId} and type = 1
    </select>

    <select id="getComments" resultType="com.tencent.wxcloudrun.model.Comment" >
        SELECT *
        FROM Comments
        WHERE rootCommentId = #{rootCommentId} order by createdAt asc
    </select>

</mapper>
